.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
  grid-gap: 1rem;
}

.listItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 0.0625rem solid #e1e4e8;
  border-radius: 0.5rem;
}

.bookDescription {
  display: flex;
  flex-direction: column;
  text-align: center;
  .generalText {
    display: flex;
    flex-direction: column;
    .name {
      font-weight: 600;
    }
    .genre {
      color: #0066c0;
      font-size: 0.8rem;
    }
    .name, .authorName, .genre {
      padding-bottom: 0.5rem;
    }
  }
  .publishedText {
    font-size: 0.8rem;
  }
}
