.app {
  display: flex;
  flex-direction: column;
  min-height: inherit;
  margin: 0 auto;
  padding: 2rem;
}

.appHeader {
  display: flex;
}

.appLogo {
  width: 3rem;
}

.appContent {
  width: 100%;
}
