.noResults {
  padding: 1rem 0.5rem;
  border: 0.0625rem solid #e1e4e8;
  border-radius: 0.5rem;
}

.boldText {
  font-weight: 600;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
  grid-gap: 1rem;
}

.listItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 0.0625rem solid #e1e4e8;
  border-radius: 0.5rem;
}

.descriptionContainer {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.description {
  display: flex;
  flex-direction: column;
}

.name {
  display: block;
  font-weight: 600;
}

.genre {
  text-overflow: ellipsis;
  color: #0066c0;
  font-size: 0.8rem;
}

.name, .authorName, .genre {
  padding-bottom: 0.5rem;
}

.name, .authorName, .publishedText {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.publishedText {
  font-size: 0.8rem;
}
